@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

section
{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff4da67a, #00d0ff50);
}



.container 
{
    position: relative;
    width: 50%;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border:  1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    /* padding: 40px; */
}


.login_header
{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    /* margin-bottom: 40px; */
    background: linear-gradient(45deg, #ff4da678, #00d0ff7a);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px 20px 0 0;
}

input {
    width: 100%;
    background: rgb(255 255 255 / 33%);
    outline: none;
    padding: 10px 20px;
    border: 1px solid rgb(255 255 255 / 50%);
    border-right: 1px solid rgb(0 0 0 / 20%);
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(51, 51, 51);
}

textarea {
    width: 100%;
    margin-top: 10px;
    background: rgb(255 255 255 / 33%);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid rgb(255 255 255 / 50%);
    border-right: 1px solid rgb(0 0 0 / 20%);
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(51, 51, 51);
    resize: vertical;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

form {
    margin-left: 10px;
    margin-right: 10px;
}

input::placeholder
{
    color: rgb(145, 145, 145);
}

input[type="submit"]
{
    display: flex;
    justify-content: center;
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 35px
    
}

.register 
{
    margin-top: 20px;
    color: rgb(145, 145, 145);
    padding-right: 20px;
}

a
{
    color: rgb(51, 51, 51);
    font-size: 110%;
    font-weight: 600;
}

.bottom 
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10px 20px 20px;
}

label
{
    position: relative;
    display: flex;
    height: 30px;
    max-height: 30px;
    justify-content: end;
    min-width: 50px;
    margin-left: 10px;
}

label input
{
    position: relative;
    z-index: 1;
    appearance: none;
    background: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

label span
{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 50px;
    height: 100%;
    background: #fe0000;
    border-radius: 80px;
    transition: .5s;
    box-shadow: 0 9px 25px #fe000066;
}

label input:checked ~ span
{
    background: #05be05;
    box-shadow: 0 9px 25px #05be0566;
}

label span i
{
    background: #fff;
    position: absolute;
    top: 10%;
    left: 6%;
    height: 80%;
    width: 50%;
    border-radius: 120px;
    transition: .5s;
}


.line1
{
    display: flex;
    align-items: center;
    margin-top: 10px;

}

label input:checked ~ span i 
{
    left: 45%;
}


div.material-symbols-outlined
{
    color: #fe0000;
    transition: .5s;
    position: absolute;
}

label input:checked ~ * div.close
{
    z-index: -1;
}

label input:not(:checked) ~ * div.done
{
    z-index: -1;
}

label input:checked ~ * div.material-symbols-outlined
{
    color: #05be05;
}